@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide the scrollbar track (background) */
::-webkit-scrollbar {
    width: 6px; /* Adjust the width to make it thinner */
    height: 6px; /* Adjust the height to make it thinner */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the color of the scrollbar thumb */
    border-radius: 3px; /* Make it oval-shaped */
  }
  
  /* Style the scrollbar track on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change the color on hover */
  }
  
  /* Style the scrollbar track (background) */
  ::-webkit-scrollbar-track {
    background: transparent; /* Hide the scrollbar track */
  }


  .scroll-container {
    max-width: 100%;
    max-height: 60vh; /* Adjust the maximum height as needed */
    overflow-x: auto;
    overflow-y: auto;
  }
  
  .scrollable-content {
    white-space: pre-wrap;
    word-break: break-all;
  }
  